@charset "UTF-8";
/* ОБНУЛЕНИЕ СТИЛЕЙ */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*=============================*/
@-webkit-keyframes icons-set {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
@keyframes icons-set {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
@-webkit-keyframes circle-sm {
  100% {
    -webkit-transform: rotate(-1turn);
            transform: rotate(-1turn);
  }
}
@keyframes circle-sm {
  100% {
    -webkit-transform: rotate(-1turn);
            transform: rotate(-1turn);
  }
}
html {
  font-size: 10px;
  font-family: Montserrat;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  color: #000;
}

.content {
  max-width: 1128px;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 400;
}

.btn {
  position: relative;
  width: 17.7rem;
  height: 5.6rem;
  border-radius: 8px;
  background: linear-gradient(94deg, #30C917 1.24%, #279A13 98.27%);
  font-weight: 500;
  font-size: 1.8rem;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.btn:hover {
  border: 1px solid #2aa915;
  background: #ceddcc;
  color: #2ebd16;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.btn:active {
  top: 0.2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.title {
  font-weight: 700;
  font-size: 4.8rem;
}

.footer {
  min-height: 323px;
  background-color: #666;
}

.promo {
  background: url("../img/bg/flower1.png") -6% 107%/44.5rem no-repeat, url("../img/bg/main.jpg") 55%/cover no-repeat, #fdfdfa;
  padding-bottom: 5rem;
}
.promo__logo {
  width: 15.2rem;
  padding-top: 0.5rem;
}
.promo__logo img {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}
.promo__logo-icon {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  margin-right: 0.1rem;
}
.promo__logo-text {
  font-size: 2.1rem;
  font-weight: 600;
}
.promo__menu {
  line-height: 6.3rem;
}
.promo__button_gr {
  width: 16.2rem;
  height: 4.8rem;
}
.promo__button_pn {
  background: #fbe4ee;
  border: 2px solid #ee3581;
  color: #ee3581;
}
.promo__button_pn:hover {
  background: #ffb1d3;
  border: 2px solid #ee3581;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.promo__content {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 33.2rem;
}
.promo__appeal {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.promo__title {
  font-size: 7.2rem;
  font-weight: 700;
  line-height: 86.33px;
  margin-bottom: 1.6rem;
}
.promo__title span {
  color: #2aa915;
}
.promo__text {
  font-size: 2rem;
  line-height: 2.6rem;
  margin-bottom: 4rem;
}
.promo__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  background: url("../img/icons/00.svg") center no-repeat;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-radius: 50%;
}
.promo__icons-set {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 55rem;
  height: 55rem;
  -webkit-animation: icons-set 120s linear infinite;
          animation: icons-set 120s linear infinite;
}
.promo__elem {
  width: 100%;
  position: absolute;
}
.promo__elem:nth-child(1) {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  /*  transform: rotate(60deg);*/
}
.promo__elem:nth-child(1) img {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}
.promo__elem:nth-child(2) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  /*  transform: rotate(120deg);*/
}
.promo__elem:nth-child(2) img {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.promo__elem:nth-child(3) {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
  /*  transform: rotate(180deg);*/
}
.promo__elem:nth-child(3) img {
  -webkit-transform: rotate(-150deg);
          transform: rotate(-150deg);
}
.promo__elem:nth-child(4) {
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
  /*  transform: rotate(240deg);*/
}
.promo__elem:nth-child(4) img {
  -webkit-transform: rotate(-210deg);
          transform: rotate(-210deg);
}
.promo__elem:nth-child(5) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  /*  transform: rotate(300deg);*/
}
.promo__elem:nth-child(5) img {
  -webkit-transform: rotate(-270deg);
          transform: rotate(-270deg);
}
.promo__elem:nth-child(6) {
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg);
}
.promo__elem:nth-child(6) img {
  -webkit-transform: rotate(-330deg);
          transform: rotate(-330deg);
}
.promo__circle-lg {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ecf9f5;
}
.promo__circle-sm {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-animation: circle-sm 120s linear infinite;
          animation: circle-sm 120s linear infinite;
}
.promo__video {
  padding-bottom: 16rem;
}
.promo__block-video {
  width: 90rem;
  height: 58rem;
  border-radius: 25px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/bg/video.jpg");
}
.promo__circle-video {
  width: 13.7rem;
  height: 13.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #2aa915;
}
.promo__arrow-play {
  margin-right: 10px;
  width: 0;
  height: 0;
  border-top: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  border-left: 3.8rem solid #fff;
  -webkit-transform: translate(1.1rem, 0.3rem);
          transform: translate(1.1rem, 0.3rem);
}

.header {
  height: 8.4rem;
  color: #062010;
  padding-bottom: 17rem;
}
.header__content {
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 64.7rem;
  line-height: 4.8rem;
}
.header_right {
  display: inline-block;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 34.5rem;
  font-weight: 400;
  font-size: 1.8rem;
}
.menu__item a {
  color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.menu__item a:hover {
  color: #2ebd16;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.ecosystem {
  background-color: #fff;
  background-color: green;
  padding-top: 5rem;
}
.ecosystem__yield {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.ecosystem__diagram {
  width: 55.2rem;
  height: 58.8rem;
  -webkit-box-shadow: 0px 0px 31px 0px rgba(177, 177, 177, 0.2);
          box-shadow: 0px 0px 31px 0px rgba(177, 177, 177, 0.2);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 43px 52px 40px;
}
.ecosystem__diagram-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 56px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ecosystem__diagram-item:last-child {
  margin-right: 0;
}
.ecosystem__diagram-column {
  width: 66px;
  height: 451px;
  border-radius: 12px 12px 4px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-bottom: 8px;
  margin-bottom: 20px;
}
.ecosystem__diagram-column span {
  display: block;
  text-align: center;
  color: #fff;
}
.ecosystem__diagram-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 2rem;
}