// .promo {
// 	background-color: #e5e5e5;
// 	background: url('../img/promo/bg.jpg') center / cover no-repeat;
// 	&__header {
// 		min-width: 100%;
// 		min-height: 88px;
// 		background-color: #f05;
// 		display: flex;
// 	}
// 	&__greetings {}
// 	&__video {}
// }
// .wrapper {
// }


.promo {
	background: url('../img/promo/bg1.png') -6% 107% / 44.5rem no-repeat, url('../img/promo/bg.jpg') 55% / cover no-repeat,  #fdfdfa;
	// background-color: red;
	// z-index: -1;
	// filter: blur(10px);
	padding-bottom: 5rem;
	// height: 1000px;
	// .content {
	// 	width: 100%;
	// 	padding-bottom: 16rem;
	// }
	&__logo {
		width: 15.2rem;
		padding-top: 0.5rem;
		// line-height: 6rem;
		img {
			display: inline-block;
			vertical-align: middle;
			width: 100%;
		}
		// display: inline-block;
		// width: 1.52rem;
		// margin-right: 14rem;
		// a {
		// 	color: $fc;
		// }
	}
	&__logo-icon {
		transform: translateY(50%);
		// margin-right: -0.2rem;
		margin-right: 0.1rem;
	}
	&__logo-text {
		font-size: 2.1rem;
		font-weight: 600;
	}
	&__menu {
		line-height: 6.3rem;
	}
	&__button {
		&_gr {
			width: 16.2rem;
			height: 4.8rem;
		}
		&_pn {
			background: #fbe4ee;
			border: 2px solid #ee3581;
			color: #ee3581;
			&:hover{
				background: #ffb1d3;
				border: 2px solid #ee3581;
				color: $fc-act;
				transition: all 0.5s;
			}
			&:active {
				// background-color: #bfbcb8;
				// border: 2px solid #bfbcb8;
				// color: $fc-act;
			}
		}
	}
	&__content {
		width: 90%;
		margin: 0 auto;
		display: flex;
		// justify-content: space-evenly;
		// justify-content: space-around;
		justify-content: space-between;
		padding-bottom: 33.2rem;
		// height: 66.2rem;
	}
	&__appeal {
		width: 50%;
		// padding-left: 10.5rem;
		// padding-bottom: 1.8rem;


		// padding: 1rem 0 0 10.5rem;
		// padding-top: 1rem;
		display: flex;
		flex-direction: column;
		// align-content: center;
		justify-content: center;
	}
	&__title {
		font-size: 7.2rem;
		font-weight: 700;
		line-height: 86.33px;
		margin-bottom: 1.6rem;
		// margin-right: 1.6rem;
		span {
			color: #2aa915;
		}
	}
	&__text {
		font-size: 2rem;
		line-height: 2.6rem;
		margin-bottom: 4rem;
	}
	&__icons {
		// margin-top: 1.9rem;
		// margin-left: 2rem;
		// width: 50%;
		
		// padding: 3.5rem 3rem 1.5rem 1rem;
		display: flex;
		// justify-content: center;
		// align-items: center;

		width: 50%;


		// position: relative;
		padding: 3rem; 
		// padding: 3rem 6rem 3rem 0;
		background: url('../img/icons/arrow.svg') center 72% / 2.8rem no-repeat, url('../img/icons/central.svg') center no-repeat;
		backdrop-filter: blur(6px);
		border-radius: 50%;
	}
	&__icons-set {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		// padding: 4rem;

		// width: 66rem;
		// height: 66rem;

		width: 55rem;
		height: 55rem;

		// border-radius: 50%;
		animation: icons-set 120s linear infinite;


		
		// background-color: #f8fff6;
		// background-color: rgba(255, 255, 255, 0.3);
		// background: rgba(255, 255, 255, 0.3) url('../img/promo/icons/arrow.svg') center 65% / 50px no-repeat;/*, url('../img/promo/icons/central.svg') center no-repeat*/;
		// backdrop-filter: blur(6px);
		// background: url('../img/icons/arrow.svg') center 69% / 2.8rem no-repeat, url('../img/icons/central.svg') center / 31rem no-repeat, rgba(248, 255, 246, 0.12); 
		// background-color: rgb(51, 51, 51, 0.2);
		// background-color: rgb(255 255, 255, 0.2);
		// background-color: rgba(255, 255, 255, 0.1); 
		// background-color: rgb(51, 51, 51, 0.2);
		// color: rgba(0, 0, 0, 0.5);
		// background-color: green;
		
		// animation: central 120s linear infinite;
	}
	&__elem {
		// border: 1px solid black;
		width: 110%;
		// height: 50px;
		// transform-origin: 100% 26px;
		// transform: rotate(0deg);

		position: absolute;
		&:nth-child(1) {
			transform: rotate(30deg);
			/*  transform: rotate(60deg);*/
			img {
				// display: block;
				transform: rotate(-30deg);
			}
		}
		&:nth-child(2) {
			transform: rotate(90deg);
			/*  transform: rotate(120deg);*/
			img {
				// display: block;
				transform: rotate(-90deg);
			}
		}
		&:nth-child(3) {
			transform: rotate(150deg);
			/*  transform: rotate(180deg);*/
			img {
				// display: block;
				transform: rotate(-150deg);
			}
		}
		&:nth-child(4) {
			transform: rotate(210deg);
			/*  transform: rotate(240deg);*/
			img {
				// display: block;
				transform: rotate(-210deg);
			}
		}
		&:nth-child(5) {
			transform: rotate(270deg);
			/*  transform: rotate(300deg);*/
			img {
				// display: block;
				transform: rotate(-270deg);
			}
		}
		&:nth-child(6) {
			transform: rotate(330deg);
			img {
				// display: block;
				max-width: 70%;
				transform: rotate(-330deg);
			}
		}
		// img {
		// 	display: block;
		// 	transform: rotate(0deg);
		// }
	}

	&__circle-lg {
		width: 110px;
		height: 110px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		// background-color: #edf7f1;
		background-color: #ecf9f5;
		animation: circle-lg 120s linear infinite;
		&:last-child {
			// background-color: inherit;
		}
	}
	&__circle-sm {
		width: 92px;
		height: 92px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		// background-color: #edf7f1;
		background-color: #fff;
		// animation: circle-lg 120s linear infinite;
		&:last-child {
			// background-color: inherit;
		}
		// img {
		// 	display: block;
		// 	animation: circle-lg 120s linear infinite;
		// }
	}
	&__icon {
		// z-index: 10;
	}
	// &__row-second {
	// 	width: 100%;
	// 	display: flex;
	// 	justify-content: space-between;
	// 	padding: 0 2.5rem;
	// 	// margin-top: -1rem;
	// 	// margin-left: 2rem;
	// }
	// &__row-third {
	// 	width: 100%;
	// 	display: flex;
	// 	justify-content: space-between;
	// 	padding: 0 2.5rem;
	// 	// margin-top: 5.5rem;
	// }
	// &__row-fourth {
	// 	// margin-top: -0.5rem;
	// 	.promo__circle-lg {
	// 		// width: 95px;
	// 		// height: 95px;
	// 		background-color: inherit;
	// 	}
	// 	.promo__circle-sm {
	// 		// width: 100%;
	// 		// height: 100%;
	// 		background-color: inherit;
	// 		// margin-top: -0.5rem;
	// 	}
	// }
	&__video {
		padding-bottom: 16rem;
		// margin-bottom: 15rem;
		// background: url('../img/bg/bg1.jpg');
	}
	&__block-video {
		width: 90rem;
		height: 58rem;
		border-radius: 25px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		background: url('../img/promo/video_bg.jpg');
	}
	&__circle-video {
		width: 13.7rem;
		height: 13.7rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		// background-color: #2bad15;
		background-color: #2aa915;
	}
	&__arrow-play {
		margin-right: 10px;
		width: 0;
		height: 0;
		border-top: 2rem solid transparent;
		border-bottom: 2rem solid transparent;
		border-left: 3.8rem solid #fff;
		transform: translate(1.1rem, 0.3rem);
	}
}

// .wrapper {
// }
// .content {
// }
.header {
	// min-width: 100%;
	// min-height: 8.8rem;
	height: 8.4rem;
	// line-height: 6.5rem;
	// padding: 1rem 0;
	color: #062010;
	// margin-bottom: 3.4rem;
	// display: flex;
	// justify-content: space-between;
	// background-color: #f05;
	// display: flex;
	&__content {
		// max-width: 1130px;
		// max-width: 1440px;
		width: 90%;
		margin: 0 auto;
		padding: 1rem 0;
		// line-height: 6.5rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&_left {
		display: flex;
		justify-content: space-between;
		width: 64.7rem;
		line-height: 4.8rem;
	}
	&_right {
		display: inline-block;
		// padding-right: 0.1rem;
		// margin-right: 10rem;
	}
}
.menu {
	display: flex;
	justify-content: space-between;
	// align-items: center;
	width: 34.5rem;
	font-weight: 400;
	font-size: 1.8rem;
	&__item {
		a {
			color: $fc;
			transition: 0.5s;
			&:hover {
				color: #2ebd16;
				transition: 0.5s;
			}
		}
	}
}


